<h2>Carts</h2>

<form onsubmit="javascript:void(0)" style="max-width: 20em; margin-top: 2em;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Filter" ng-model="$ctrl.query" />
    </div>
</form>

<table class="table table-striped">
    <thead>

<tr>
    <th>ID</th>
    <th>Account</th>
    <th>Item</th>
    <th>Price</th>
    <th>Discount</th>
    <th>Payment</th>


</tr>
</thead>

<tr ng-repeat="carts in $ctrl.items | filter:$ctrl.query track by carts.id">
    <td>{{carts.id}}</td>
    <td>{{carts.account}}</td>
    <td>{{carts.name}}</td>
    <td>{{carts.price}}</td>
    <td>{{carts.discount}}</td>
    <td>{{carts.payment}}</td>
</tr>
</table>


