<h2>Payment</h2>
<form ng-submit="$ctrl.submitPaymentForm()" style="max-width: 25em;">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" ng-model="$ctrl.item.name" name="name" required/>
        <span ng-show="paymentForm.name.$error.required" class="help-block">Name is required.</span>
    </div>

    <div class="form-group">
        <label>Date</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="$ctrl.item.date" required type="date"/>
            <span ng-show="paymentForm.date.$error.required" class="help-inline"> Payment date is required.</span>
        </div>
    </div>


    <div class="form-group">
        <label>Type</label>
        <div class="col-sm-6">
            <select class="form-control" ng-model="$ctrl.item.id">
                <option ng-repeat="t in $ctrl.types track by t.id" value="{{t.id}}">{{t.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Amount</label>
        <input class="form-control" ng-model="$ctrl.item.amount" name="amount" required/>
        <span ng-show="paymentForm.amount.$error.required" class="help-block">Amount is required.</span>
    </div>

    <div class="form-group">
        <button class="btn btn-default" type="submit">Add new payment</button>
    </div>
</form>

