<h2>Payments</h2>

<form onsubmit="javascript:void(0)" style="max-width: 20em; margin-top: 2em;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Filter" ng-model="$ctrl.query" />
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>

    <tr ng-repeat="payment in $ctrl.items | filter:$ctrl.query track by payment.id">
        <td>{{payment.id}}</td>
        <td>{{payment.name}}</td>
    </tr>
</table>
